.menu-group-btn {
  display: inline-block;
  margin: 0 4px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 4px 4px 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  outline: none;

  &:hover,
  &.active { background-color: #bbb !important; }
};
