header {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--fuscosa);
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 600;
  box-shadow: 0 0 8px #000;
}